<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>8943568402-mvd1t5cdhf6neeelcnid3a2lk8om7coe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.8943568402-mvd1t5cdhf6neeelcnid3a2lk8om7coe</string>
	<key>API_KEY</key>
	<string>AIzaSyDQOZx5VxEpkRp8aapZdPzt9LRezqqcqo0</string>
	<key>GCM_SENDER_ID</key>
	<string>8943568402</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.recipexApp</string>
	<key>PROJECT_ID</key>
	<string>recipex-cd861</string>
	<key>STORAGE_BUCKET</key>
	<string>recipex-cd861.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:8943568402:ios:e9b0be331e4e166a2dbacb</string>
</dict>
</plist>